* {
  box-sizing: border-box;
}
body {
  background-color: #ffd65f;
}
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ff7f00;
  top: 0;
  width: 100%;
  position: absolute;
}
.option {
  float: left;
  border-right: 1px solid #ffae00;
}
.option a {
  display: block;
  color: #da5a00;
  padding: 22px 25px;
  text-decoration: none;
}
.option a:hover {
  color: #bc3c00;
}
.active {
  color: #bc3c00;
  }
body, html {
  height: 100%;
}
.parallax{
  height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}
  
  
.caption {
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}
.caption span.border {
  background-color: #443b38;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  text-align: center;
}
.partxt {
  background-color:#ffffd7;
  font-size:17px;
  color:#b27500;
  padding:35px;
  line-height:1.8;
  letter-spacing: 3px;
}
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background-image: url("images/wallpaper.jpeg");
  color: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
